@use "variables" as *;

.header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10%;

    @include for-phone-only {
        margin: auto 5%;
    }
}

.site-title {
    display: inline-block;
    font-family: "Kristi", cursive;
    font-weight: bold;
    font-size: 2.5rem;

    @include for-phone-only {
        font-size: 2rem;
    }
}

.header-links-list {
    display: flex;
    justify-content: flex-start;

    li:first-of-type {
        padding-left: 0;
    }

    @include for-phone-only {
        display: none;
    }
        
}
.header-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    list-style-type: none;
    padding: 0 2rem;

    @include for-phone-only {
        padding: 1rem 0.25rem;
    }
    
}
.header-link-anchor {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: black;
}
.header-link-text {
    font-family: "Inter", sans-serif;
}
.header-link-dropdown-icon {
    margin-top: 0.1rem;
}

.hamburger-icon {
    @include for-desktop-only {
        display: none;
    }
    @include for-phone-only {
        display: inline-block;
    }
}

.header-profile-recipe-search-container {
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.mobile-menu {
    border-top: 1px solid lightgrey;
    margin: 0 3%;
    background-color: white;
    position: absolute;
    width: 94%;
    transition: all .26s ease-in-out;
}

.header-links-list-mobile {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}