@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Playfair Display",
        serif;
}

#root {
    width: 80%;
    margin: 0 auto;

    @include for-tablet-only {
        width: 90%;
    }

    @include for-phone-only {
        width: 94%;
    }
}