@use "variables" as *;

.recipePage-title-section {
    margin-top: 2.5rem;

    @include for-phone-only {
        margin-top: 0;
    }

    @include for-tablet-only {
        margin-top: 0;
    }
}

.profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#recipe-page-title {
    font-size: 3.75rem;
    font-weight: 700;
    padding: 1.5rem 0;

    @include for-phone-only {
        font-size: 1.5rem;
        padding: 1rem 0 1.5rem 0;
    }

    @include for-tablet-only {
        font-size: 2.75rem;
    }
}

.recipe-page-title-subsection {
    display: flex;
    gap: 2rem;
}

.recipe-page-title-subsection-text {
    display: inline-block;
    font-size: 0.75rem;
    font-family: "Inter", sans-serif
}

.recipe-page-title-subsection-container {
    display: flex;
    gap: 0.35rem;
    justify-content: center;
    align-items: center;
}

hr {
    border-color: #E8E8E8;
    opacity: 0.2;
    margin: 1.75rem 0;
}

.recipe-page-description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: "Inter", sans-serif;

    @include for-phone-only {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}